In [71]:
import pandas as pd
import numpy as np
import datetime

In [72]:
df = pd.read_csv('memdata.csv')
print(df)

     Unnamed: 0                      fees                vsize  \
0             0      "fee": 0.00006860,\n      "vsize": 188,\n
1             1      "fee": 0.00001060,\n      "vsize": 209,\n
2             2      "fee": 0.00000606,\n      "vsize": 110,\n
3             3      "fee": 0.00001320,\n      "vsize": 110,\n
4             4      "fee": 0.00006996,\n      "vsize": 632,\n
..          ...                       ...                  ...
514         514      "fee": 0.00000390,\n      "vsize": 202,\n
515         515      "fee": 0.00003164,\n      "vsize": 142,\n
516         516      "fee": 0.00003073,\n      "vsize": 208,\n
517         517      "fee": 0.00001704,\n      "vsize": 142,\n
518         518      "fee": 0.00000910,\n      "vsize": 181,\n

                          time
0        "time": 1654995151,\n
1        "time": 1654995148,\n
2        "time": 1654995343,\n
3        "time": 1654995142,\n
4        "time": 1654995142,\n
..                         ...
514      "time": 1654995397,\n
515      "time": 1654995397,\n
516      "time": 1654995397,\n
517      "time": 1654995397,\n
518      "time": 1654995397,\n

[519 rows x 4 columns]

In [73]:
df["fees"] = df["fees"].str[11:21]
df["vsize"] = df["vsize"].str.extract('(\d+)', expand=False)
df["time"] = df["time"].str.extract('(\d+)', expand=False)

print(df)

     Unnamed: 0        fees vsize        time
0             0  0.00006860   188  1654995151
1             1  0.00001060   209  1654995148
2             2  0.00000606   110  1654995343
3             3  0.00001320   110  1654995142
4             4  0.00006996   632  1654995142
..          ...         ...   ...         ...
514         514  0.00000390   202  1654995397
515         515  0.00003164   142  1654995397
516         516  0.00003073   208  1654995397
517         517  0.00001704   142  1654995397
518         518  0.00000910   181  1654995397

[519 rows x 4 columns]

In [74]:
df['fees'] = df['fees'].astype('float')
df['fees'] = df['fees'].apply(lambda x: x * 100000000)
df['fees'] = df['fees'].astype('int')
df['vsize'] = df['vsize'].astype('int')

In [75]:
df["sats/vbyte"] = df["fees"]/df["vsize"]
df['sats/vbyte'] = df['sats/vbyte'].astype('int')

In [76]:
#df['time'] = pd.to_datetime(df['time'],unit='s')
df['time'] = pd.to_datetime(df['time'],unit='s').dt.tz_localize('utc').dt.tz_convert('US/Eastern')

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [70]:
df = df.drop(columns='Unnamed: 0')
df

     fees  vsize                      time  sats/vbyte
0    6860    188 2022-06-11 20:52:31-04:00          36
1    1060    209 2022-06-11 20:52:28-04:00           5
2     606    110 2022-06-11 20:55:43-04:00           5
3    1320    110 2022-06-11 20:52:22-04:00          12
4    6996    632 2022-06-11 20:52:22-04:00          11
..    ...    ...                       ...         ...
514   390    202 2022-06-11 20:56:37-04:00           1
515  3164    142 2022-06-11 20:56:37-04:00          22
516  3073    208 2022-06-11 20:56:37-04:00          14
517  1704    142 2022-06-11 20:56:37-04:00          12
518   909    181 2022-06-11 20:56:37-04:00           5

[519 rows x 4 columns]

In [45]:
df.to_csv("memdata_clean.csv",index=False)
df.to_csv("~/PycharmProjects/bitcoin_dash/data/memdata_clean.csv",index=False)

In [46]:
df

     fees  vsize  sats/vbyte
0    3372    252          13
1    3953   1658           2
2    5641    405          13
3     219    145           1
4    1720    346           4
..    ...    ...         ...
907  8040    665          12
908  1305    142           9
909  1699    141          12
910   860    372           2
911   531    208           2

[912 rows x 3 columns]