In [39]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv('memdata.csv')
print(df)

     Unnamed: 0                      fees                 vsize
0             0      "fee": 0.00003372,\n       "vsize": 252,\n
1             1      "fee": 0.00003954,\n      "vsize": 1658,\n
2             2      "fee": 0.00005641,\n       "vsize": 405,\n
3             3      "fee": 0.00000219,\n       "vsize": 145,\n
4             4      "fee": 0.00001720,\n       "vsize": 346,\n
..          ...                       ...                   ...
907         907      "fee": 0.00008040,\n       "vsize": 665,\n
908         908      "fee": 0.00001305,\n       "vsize": 142,\n
909         909      "fee": 0.00001699,\n       "vsize": 141,\n
910         910      "fee": 0.00000860,\n       "vsize": 372,\n
911         911      "fee": 0.00000531,\n       "vsize": 208,\n

[912 rows x 3 columns]

In [41]:
df["fees"] = df["fees"].str[11:21]
df["vsize"] = df["vsize"].str.extract('(\d+)', expand=False)
print(df)

     Unnamed: 0        fees vsize
0             0  0.00003372   252
1             1  0.00003954  1658
2             2  0.00005641   405
3             3  0.00000219   145
4             4  0.00001720   346
..          ...         ...   ...
907         907  0.00008040   665
908         908  0.00001305   142
909         909  0.00001699   141
910         910  0.00000860   372
911         911  0.00000531   208

[912 rows x 3 columns]

In [42]:
df['fees'] = df['fees'].astype('float')
df['fees'] = df['fees'].apply(lambda x: x * 100000000)
df['fees'] = df['fees'].astype('int')
df['vsize'] = df['vsize'].astype('int')

In [43]:
df["sats/vbyte"] = df["fees"]/df["vsize"]
df['sats/vbyte'] = df['sats/vbyte'].astype('int')

In [44]:
df = df.drop(columns='Unnamed: 0')
df

     fees  vsize  sats/vbyte
0    3372    252          13
1    3953   1658           2
2    5641    405          13
3     219    145           1
4    1720    346           4
..    ...    ...         ...
907  8040    665          12
908  1305    142           9
909  1699    141          12
910   860    372           2
911   531    208           2

[912 rows x 3 columns]

In [45]:
df.to_csv("memdata_clean.csv",index=False)

In [46]:
df

     fees  vsize  sats/vbyte
0    3372    252          13
1    3953   1658           2
2    5641    405          13
3     219    145           1
4    1720    346           4
..    ...    ...         ...
907  8040    665          12
908  1305    142           9
909  1699    141          12
910   860    372           2
911   531    208           2

[912 rows x 3 columns]