In [87]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
import numpy as np

In [88]:
supply = pd.read_csv("supply.csv")
supply = supply.iloc[1: , 1:]
supply

                                                                                              0
1                                                                           "height": 737497,\n
2            "bestblock": "000000000000000000007baf137f4c9a82e9124292aca662eb3a0e1fa6185216",\n
3                                                                         "txouts": 82035401,\n
4                                                                     "bogosize": 6124377401,\n
5    "hash_serialized_2": "460d351e956a6ea0e19fe89cea30f8c526f76dac2e3071411f1fb56d72fe59dd",\n
6                                                          "total_amount": 19046648.42921805,\n
7                                                                   "transactions": 49428312,\n
8                                                                     "disk_size": 4987801170\n
9                                                                                           }\n

In [89]:
supply = supply.iloc[:-1 , :]
supply = supply.transpose()

supply.columns = ['height', 'best_block', 'tx_outs', 'bogosize',
                 'hash_serialized_2', 'total_amount', 'transactions', 'disk_size']
supply

,height,best_block,tx_outs,bogosize,hash_serialized_2,total_amount,transactions,disk_size
0,"""height"": 737497,\n","""bestblock"": ""000000000000000000007baf137f4c9a82e9124292aca662eb3a0e1fa6185216"",\n","""txouts"": 82035401,\n","""bogosize"": 6124377401,\n","""hash_serialized_2"": ""460d351e956a6ea0e19fe89cea30f8c526f76dac2e3071411f1fb56d72fe59dd"",\n","""total_amount"": 19046648.42921805,\n","""transactions"": 49428312,\n","""disk_size"": 4987801170\n"

In [90]:
supply["height"] = supply["height"].str.extract('(\d+)', expand=False)
supply["tx_outs"] = supply["tx_outs"].str.extract('(\d+)', expand=False)
supply["bogosize"] = supply["bogosize"].str.extract('(\d+)', expand=False)
supply["hash_serialized_2"] = supply["hash_serialized_2"].str.extract('(\d+)', expand=False)
supply["total_amount"] = supply["total_amount"].str.extract('(\d+)', expand=False)
supply["transactions"] = supply["transactions"].str.extract('(\d+)', expand=False)
supply["disk_size"] = supply["disk_size"].str.extract('(\d+)', expand=False)

In [91]:
supply.columns = ['Height', 'Best Block', 'UTXOs', 'bogosize',
                 'hash_serialized_2', 'Circulating Supply', 'Transactions', 'Disk Size']
supply

,Height,Best Block,UTXOs,bogosize,hash_serialized_2,Circulating Supply,Transactions,Disk Size
0,737497,"""bestblock"": ""000000000000000000007baf137f4c9a82e9124292aca662eb3a0e1fa6185216"",\n",82035401,6124377401,2,19046648,49428312,4987801170

In [92]:
supply["Best Block"] = supply["Best Block"].str[16:-3]

In [93]:
total = 21000000
supply['Total'] = total
mined = supply['Circulating Supply']
mined = int(mined) - 50
issuance_remaining = total - mined
supply['Issuance Remaining'] = issuance_remaining

In [94]:
supply = supply.drop(columns=['hash_serialized_2','bogosize','Best Block'])
supplyt = supply.transpose()
supplyt

                             0
Height                  737497
UTXOs                 82035401
Circulating Supply    19046648
Transactions          49428312
Disk Size           4987801170
Total                 21000000
Issuance Remaining     1953402

In [96]:
#supply.to_csv("supply_clean.csv")
supplyt.to_csv("supply_clean.csv", header=False)

In [14]:
bitcoin_supply =[supply['issuance_remaining'][0], int(supply['total_amount'][0])]

In [16]:
titles = ['issuance_remaining', 'total_amount']

In [17]:
bitcoin_supply

[1953352, 19046648]

In [18]:
titles

['issuance_remaining', 'total_amount']

In [ ]:
supply.insert(, "Stat", ['height', 'bestblock', 'txouts', 'bogosize', ''], True)