In [17]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
import numpy as np

In [18]:
supply = pd.read_csv("supply.csv")
supply = supply.iloc[1: , 1:]
supply

                                                                                              0
1                                                                           "height": 737497,\n
2            "bestblock": "000000000000000000007baf137f4c9a82e9124292aca662eb3a0e1fa6185216",\n
3                                                                         "txouts": 82035401,\n
4                                                                     "bogosize": 6124377401,\n
5    "hash_serialized_2": "460d351e956a6ea0e19fe89cea30f8c526f76dac2e3071411f1fb56d72fe59dd",\n
6                                                          "total_amount": 19046648.42921805,\n
7                                                                   "transactions": 49428312,\n
8                                                                     "disk_size": 4987801170\n
9                                                                                           }\n

In [19]:
supply = supply.iloc[:-1 , :]
supplyt = supply.transpose()

supplyt.columns = ['height', 'best_block', 'tx_outs', 'bogosize',
                 'hash_serialized_2', 'total_amount', 'transactions', 'disk_size']
supply

                                                                                              0
1                                                                           "height": 737497,\n
2            "bestblock": "000000000000000000007baf137f4c9a82e9124292aca662eb3a0e1fa6185216",\n
3                                                                         "txouts": 82035401,\n
4                                                                     "bogosize": 6124377401,\n
5    "hash_serialized_2": "460d351e956a6ea0e19fe89cea30f8c526f76dac2e3071411f1fb56d72fe59dd",\n
6                                                          "total_amount": 19046648.42921805,\n
7                                                                   "transactions": 49428312,\n
8                                                                     "disk_size": 4987801170\n

KeyError: "None of [Int64Index([2], dtype='int64')] are in the [columns]"

In [13]:
supply = supply.str.extract('(\d+)', expand=False)
suuply = supply.drop([4, 5])

In [14]:
supply

1                   737497
2    000000000000000000007
3                 82035401
4               6124377401
5                        2
6                 19046648
7                 49428312
8               4987801170
Name: 0, dtype: object

In [5]:
supply["best_block"] = supply["best_block"].str[16:-3]
supply["hash_serialized_2"] = supply["hash_serialized_2"].str[24:-3]

In [6]:
total = 21000000
supply['total'] = total
mined = supply['total_amount']
mined = int(mined)
issuance_remaining = total - mined
supply['issuance_remaining'] = issuance_remaining

In [7]:
supply

,height,best_block,tx_outs,bogosize,hash_serialized_2,total_amount,transactions,disk_size,total,issuance_remaining
0,737497,000000000000000000007baf137f4c9a82e9124292aca662eb3a0e1fa6185216,82035401,6124377401,460d351e956a6ea0e19fe89cea30f8c526f76dac2e3071411f1fb56d72fe59dd,19046648,49428312,4987801170,21000000,1953352

In [8]:
supply.to_csv("supply_clean.csv")

In [14]:
bitcoin_supply =[supply['issuance_remaining'][0], int(supply['total_amount'][0])]

In [16]:
titles = ['issuance_remaining', 'total_amount']

In [17]:
bitcoin_supply

[1953352, 19046648]

In [18]:
titles

['issuance_remaining', 'total_amount']

In [ ]:
supply.insert(, "Stat", ['height', 'bestblock', 'txouts', 'bogosize', ''], True)